.wp-block-willsides-dive-location {
    display: flex;
    align-items:center;
}
.wp-block-willsides-dive-location div {
    margin-bottom: 0 !important;
}
.ws-dive-block-location {
    min-width: 20rem;
}